<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 offset-sm-4">
      <h1> PICO Y PLACA VALIDATION</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 offset-sm-1">
      <input class="form-control" [(ngModel)]="licensePlateNumber" id="licensePlate" type="text" placeholder="License Plate Number E.g: PCQ-8381">
    </div>

    <div class="col-sm-3">
      <input class="form-control" type="date" [(ngModel)]="dateToValidate" (change)="onDateChange()">
    </div>

    <div class="col-sm-3">
      <input class="form-control" [(ngModel)]="hourToValidate" type="text" placeholder="Hour E.g: 14:00">
    </div>

    <div class="col-sm-1">
      <button class="btn btn-success" id="validate" (click)="validatePicoPlaca()"> Validate</button>
    </div>
  </div>

  <br>

  <div class="row" *ngIf="showValidation">
    <div class="col-sm-8 offset-sm-1">
      <div class="{{validation[1]}}">
        <strong>{{validation[0]}}</strong>
      </div>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-info" (click)="clean()"> Clean </button>
    </div>

  </div>



</div>